h4
{
		text-align: left;
		margin-left: 150px;
		color:balck;
		margin-bottom: -50px;
} 
h5
{
		text-align: right;
		margin-right: 50px;
		color: black;
} 
#h3
{
		text-align: left;
    color:black;
    margin-left: 150px;
} 
#h1
{
		text-align: left;
    color:black;
    margin-left: 150px;
} 
button{
	margin-left: 250px;
	margin-top: 10px;
	
}
#h3
{
	text-align: right;
	margin-right: 250px;
	margin-top: -15px;
}

 table {
	border-collapse: collapse;
	width: 80%;
	table-layout: center;
	margin-left:200px;
	display: center;
  }
  
  th, td {
	text-align: center;
	padding: 5px;
	border: 1px solid black;
  }
  
  body {
    background-color:white ;
  }
 
  table tr:nth-child(n+3) {
    display: none;
  }
  table tr:nth-child(n + 3):not(:last-child) {
    display:none;
  }
  th {
	background-color: cornflowerblue;
	color: white;
  }

 #showall
 {
	margin-left :100px;
	 text-decoration: none;
	 margin-top: 200px;
	 
 }
 #opennewform
 {
  text-decoration: none;
  margin-right: 120px;
  margin-top: 80px;
 
}


 body {font-family: Arial, Helvetica, sans-serif;}
 * {box-sizing: border-box;}
 
 
 /* The popup form - hidden by default */
 .form-popup {
   display: none;
   position: fixed;
   bottom:100px;
   right: 15px;
     border: 0px solid #f1f1f1;
   z-index: 9;
   
   }
   
   .Mainmenu
   {
        
      background-image: url("C:/Users/spinisetty/Desktop/img4.png");
      text-decoration: none;
    
   }
 /* Add styles to the form container */
 .form-container {
  position: center;
	display: center;
   max-width: 1000px;
   padding: 10px 16px;
   background-color:rgb(211, 226, 223);
	  max-height:600px;
   margin-bottom: 100px;
   margin-left: 50px;
   margin-top: 0px;
   margin-right:300px;
   z-index: 9;
   margin: 0 auto;
   
  
 }
 
 /* Full-width input fields */
 .form-container input[type=text], .form-container input[type=password],input[type=radiobox] {
   width: 100%;
   padding: 9px;
   margin: 5px 0 2px 0;
   border: none;
   background: #f1f1f1;
   
 }
 
 /* When the inputs get focus, do something */
 .form-container input[type=text]:focus, .form-container input[type=text]:focus {
   background-color: #ddd;
   outline: none;
   
 }
 
 /* Set a style for the submit/login button */
 .form-container .btn {
   background-color: #4CAF50;
   color: white;
   padding: 6px 12px;
   border: none;
   cursor: pointer;
   width: 100px;
   
   margin-bottom:200px;
   opacity: 0.8;
 }
 
 /* Add a red background color to the cancel button */
 .form-container .cancel {
   background-color: rgb(30, 194, 93);
 }
 
 /* Add some hover effects to buttons */
 .form-container .btn:hover, .open-button:hover {
   opacity: 1;
 }
 /* Header Style*/
 #popupheader {
	padding: 10px 2px;
	background-color: #5cb85c;
	color: rgb(195, 211, 224);
 }
  /*form style*/
  #taxform
  {
    font-size: 12px;
  }
  .popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}